<a href="https://colab.research.google.com/github/yogeshrjk/python_basic/blob/main/dataStructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Data structures

In [ ]:
from collections import Counter
l1 = [45,34,67,23,67,45,23,67,45,12,45]
count = 0
l2 = list()
d = Counter(l1)
for i in l1:

  for j in l1[count:]:
    if(i == j):
      if i not in l2:
        l2.append(i) 
        print(i,"is repeated")
  count+=1
print(l2)
print(d)

45 is repeated
34 is repeated
67 is repeated
23 is repeated
12 is repeated
[45, 34, 67, 23, 12]
Counter({45: 4, 67: 3, 23: 2, 34: 1, 12: 1})

In [ ]:
l1 = [45,34,67,23,67,45,23,67,45,12,45]
res = {}
for i in l1:
    res[i] = l1.count(i)
    
for n in res:
  print(n,"is repeated", res[n], "times")

45 is repeated 4 times
34 is repeated 1 times
67 is repeated 3 times
23 is repeated 2 times
12 is repeated 1 times

In [ ]:
l1 = [1,2,3]
l2 = [3,4,5]
print(l1*2)
print(l1+l2)

[1, 2, 3, 1, 2, 3]
[1, 2, 3, 3, 4, 5]

In [ ]:
#single line if statement

x = 18
y = 20
print(x,"is greater")if(x>y)else print(y,"is greater")

20 is greater

In [ ]:
#check if given number is even or odd

num = int(input("enter a number "))

print(num," is even")if(num % 2 == 0)else print(num," is odd")

enter a number 48
48  is even

In [ ]:
#sort list
l1 = [45,23,12,89,56,72]
#ascending order
l1.sort()
print(l1)

#descending order
l1.sort(reverse = True)
print(l1)

[12, 23, 45, 56, 72, 89]
[89, 72, 56, 45, 23, 12]

In [ ]:
#list comprehension
#multiply a list by 3 and store it in new list

l1 = [45,23,12,89,56,72]
newlist = list()
for i in l1:
  newlist.append(i*3)

print(newlist)

[135, 69, 36, 267, 168, 216]

In [ ]:
#using list comprehension
newlist=[i*3 for i in l1]
print(newlist)

[135, 69, 36, 267, 168, 216]

In [ ]:
l1 = [4,2,3,9,6,7]
newlist = [i*2 if(i%2==0) else i*3 for i in l1]
print(newlist)

[8, 4, 9, 27, 12, 21]

In [ ]:
strList=['INDIA','JAPAN','FRANCE','SWEDEN']
newlist = [i[:3] for i in strList]

print(newlist)

['IND', 'JAP', 'FRA', 'SWE']

In [ ]:
#Dictionary

#{key1:value1,key2:value2,key3:value3}

Scores = {'RCB': 5.6, 'CSK': 7.8, 'MI': 8.2}

print(Scores)
print(Scores.values())
print(Scores.keys())
print(Scores['CSK'])
print(Scores.items())
#adding new pair
Scores['GL']=4.7
print(Scores)

{'RCB': 5.6, 'CSK': 7.8, 'MI': 8.2}
dict_values([5.6, 7.8, 8.2])
dict_keys(['RCB', 'CSK', 'MI'])
7.8
dict_items([('RCB', 5.6), ('CSK', 7.8), ('MI', 8.2)])
{'RCB': 5.6, 'CSK': 7.8, 'MI': 8.2, 'GL': 4.7}

Dictionay is mutable. and it is heterogeeous

In [ ]:
Emp = {
    'Empno': [100,200,300],
    'Empname':['Gautam','Ramesh','Suresh'],
}

Emp

{'Empname': ['Gautam', 'Ramesh', 'Suresh'], 'Empno': [100, 200, 300]}

In [ ]:
#create dictionary and square the values
n = int(input('Enter the number'))
d={}
for i in range(1,n+1):
  d[i] = i*i
print(d)

Enter the number10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [ ]:
l = [23,56,12,78]
d={}
for i in l:
   if(i % 2 == 0):
     d[i] = 'even' 
   else:
     d[i] = 'odd'
print(d)

{23: 'odd', 56: 'even', 12: 'even', 78: 'even'}

In [ ]:
#sum of values

d1={1:98,2:97,3:67,4:87}
sum = 0
for i in d1.values():
  sum = sum + i;

print(sum)

349

In [ ]:
#using sum method
d1={1:98,2:97,3:67,4:87}
sum(d1.values())

349

In [ ]:
dict1 = {'jan':1,'feb':2,'mar':3}
dict1.get('feb')

2

In [ ]:
#frequency of alphabet in string
text = "i love to program in python"
freq = dict()
for c in text:
    if c in 'aeiouAEIOU':
      freq[c]=freq.get(c,0)+1
print(freq)

{'i': 2, 'o': 4, 'e': 1, 'a': 1}

In [ ]:
#enumerate

l1 = [23,45,12,67,56]
for i,j in enumerate(l1):
  print(i,j)

0 23
1 45
2 12
3 67
4 56

In [ ]:
#tuple
#tuble is immutable and faster than list
t1 = (23,12,34,56)
t1[1]

12

**Functions**

In [ ]:
#user defined function
#defining a function
def add(a,b):
  return a+b

#calling a function
print(add(3,4))
print(add('yogesh','rajak'))

7
yogeshrajak

In [ ]:
def calc(a,b):
  sum = a+b
  sub = a-b
  return(sum,sub)
s,p = calc(5,4)
print("sum: ", s, "sub: ",p)

sum:  9 sub:  1

In [ ]:
n = int(input())
def factorial(n):
  fact = 1
  while(n > 1):
    fact*=n
    n-=1
  return fact

factorial(n)

5

120

In [ ]:
l1 = list(range(3,8))
l2 = [factorial(i) for i in l1]
l2

[6, 24, 120, 720, 5040]

In [ ]:
#identify prime numbers
l2 = list(range(23,46,3))
l3 = list()

def prime(n):
  flag = 0
  for i in range(2,n):
    if(n % i == 0):
      flag = flag + 1
  if(flag == 0 and n > 1):
    return True
  else:
    return False

l3 = [i for i in l2 if(prime(i))]
print(l3)

[23, 29, 41]

**Lambdas**

In [ ]:
sum = lambda x,y:x+y
sum(4,5)

9

In [ ]:
#lambda for square of given number
square = lambda x:x*x
square(4)

16

**Map**,**Filter**,**Reduce**

In [ ]:
#map(function,sequence)
list(map(factorial, [5,6,7]))
l1=[34,67,23,56]
list(map(lambda x:x/2,l1))

[17.0, 33.5, 11.5, 28.0]

In [ ]:
l1 = [35.6,36.2,34.8]
list(map(lambda c:(9/5)*c+32, l1))

[96.08, 97.16000000000001, 94.63999999999999]

In [ ]:
#filter
#filter(function, sequence)

list(filter(prime,[23,45,12,66,11,21,29,43]))

[23, 11, 29, 43]

In [ ]:
l1 = [24,67,45,34,89,23]
list(filter(lambda x:x%2==0, l1))

[24, 34]

In [ ]:
#reduce
#reduce(function, sequence)
#min, max,sum,avg
from functools import reduce
l1 = list(range(34,12,-2))
print(l1)
reduce((lambda x,y:x+y),l1)

[34, 32, 30, 28, 26, 24, 22, 20, 18, 16, 14]

264

In [ ]:
# reduce to find min and max element
reduce((lambda x,y:x if(x>y) else y), l1)

34

In [ ]:
reduce((lambda x,y:x if(x<y) else y), l1)

14

In [ ]:
#adding consecutive elements of given two lists
l1 = [23,45,67,34]
l2 = [12,89,56,43]

list(map(lambda x,y:x+y,l1,l2))

[35, 134, 123, 77]

In [ ]:
words = ['apple', 'donkey', 'fish', 'air', 'angle', 'banana']
d1 = {}
list([len(w) if(w.startswith('a')) else w.upper() for w in words])

[5, 'DONKEY', 'FISH', 3, 5, 'BANANA']