<a href="https://colab.research.google.com/github/yogeshrjk/python_basic/blob/main/day1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

this is the first python program.

In [ ]:
# hello world program

''' i am writing 
my first python program'''

print("hello world")

hello world

In [ ]:
print("my name is Yogesh Rajak")

my name is Yogesh Rajak

In [ ]:
#variable

name = "Yogesh"
print("my name is " + name)

my name is Yogesh

In [ ]:
#input

name = input("Enter your name ")
#input("prompt msg")
print("my name is " + name)

Enter your name Yogesh
my name is Yogesh

In [ ]:
#accept age
age = int(input("Enter your age: "))
age = age + 1
print("my age is " , age)

Enter your age: 23
my age is  24

In [ ]:
#accept two integer and add them

num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
print("Addition: ", num1+num2)

Enter first number: 4
Enter second number: 5
Addition:  9

In [ ]:
# check data type

x = 12
y = 2.4
z = "hello"
a = 'a'
print(type(x))
print(type(y))
print(type(z))
print(type(a))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'str'>

In [ ]:
#operators

a=13
b=5
print(a*b)
print(a/b)
print(a//b)
print(a%b)
print(a ** b)

65
2.6
2
3
371293

if else statement

In [ ]:

x = int(input("Enter your age"))
if(x >= 18):
  if(x>=60):
    print("you are a senior citizen")
  print("you have voting rights ")
elif(x>=13):
  print("you do not have voting rights but you are a teenager")

else:
  print("you do not have voting rights")

Enter your age55
you have voting rights
please contact nearest govt office

In [ ]:
#check if given number is even or odd

num = int(input("Enter a number: "))

if(num % 2 == 0):
  print("even number")
else:
  print("odd number")

Enter a number: 4
even number

In [ ]:
#complex condition
x = 1
y = 0
if(x>2 and (x/y)>2):
  print("have entered if")

In [ ]:
#iteration
for i in range(10): 
  print(i)
for i in range(1, 20,4):
  print(i)

0
1
2
3
4
5
6
7
8
9
1
5
9
13
17

In [ ]:
#fibonacci series
n1=0
n2=1
nth=n1+n2
n = int(input("enter the number: "))
while(n1 <= n):
  nth=n1+n2
  print(n1, end=" ")
  n1=n2
  n2=nth

enter the number25
0 1 1 2 3 5 8 13 21

In [ ]:
#wap to find factorial of given number

num = int(input("Enter the number: "))
fact = 1
while(num >= 1):
  fact = fact*num
  num = num - 1
print("factorial: ", fact)

Enter the number: 5
factorial:  120

In [ ]:
n=int(input("enter the number: "))

fact=1

for i in range(1,n+1):

  fact*=i

print("factorial of number is",fact)

enter the number: 5
factorial of number is 120

In [ ]:
#check if given number is prime or not

num = int(input("Enter a number: "))

flag = 0
for i in range(2,num):
  if(num % i == 0):
    flag = flag + 1

if(flag != 0 or num <= 1):
  print("it is not a prime number")
else:
  print("it is a prime number")

Enter a number: 11
it is a prime number

In [ ]:
#find out all the prime numbers in a given range
lnum = int(input("Enter range: from "))
hnum = int(input("to "))

if(lnum < hnum):
  for n in range(lnum, hnum+1):
    flag = 0
    for i in range(2,n):
      if(n % i == 0):
        flag = flag + 1
    if(flag == 0 and n > 1):
      print(n, end=" ")
else:
  print("Range you have entered is invalid.")

Enter range: from -6
to 29
2 3 5 7 11 13 17 19 23 29

In [ ]:
#generate next prime number

num = int(input("Enter a number: "))
next = num + 1
found = 0
while(found == 0):
  flag = 0
  for i in range(2,next):
    if(next % i == 0):
      flag = flag + 1
  if(flag == 0 and next > 1):
    found = 1
  else:
    next = next + 1

print("next prime number is: ", next)

Enter a number: -7
next prime number is:  2

second approach

In [ ]:
num = int(input("Enter a number: "))
isPrime = False
while(isPrime == False):
  num +=1
  flag = 0
  for i in range(2,num):
    if(num % i == 0):
     flag = flag + 1
  if(flag == 0 and num > 1):
    isPrime = True
  
print(num)

Enter a number: 15
17

In [ ]:
#swap two numbers

x=5
y=10

print("x: ", x, "y: ", y)
(x,y)=(y,x)
print("x: ", x, "y: ", y)

In [ ]:
fruit = "Orange"
dir(fruit)
fruit.title()

'Orange'

In [ ]:
for i in fruit:
  print(i*3)

OOO
rrr
aaa
nnn
ggg
eee

**Slicing**

In [ ]:
len(fruit)

6

In [ ]:
alpha = "abcdefghi"
#index
print(alpha[6])
#- gives index values from right to left
print(alpha[-1])
#slicing(start, end)
print(alpha[0:5])
print(alpha[7:2:-1])
#reverse string
print(alpha[::-1])
print(alpha[7::-1])

print(alpha[-1:-1:-1])

g
i
abcde
hgfed
ihgfedcba
hgfedcba

In [ ]:
print(alpha.startswith('a'))

True

In [ ]:
#split method

tags = "#money#finance#trade#paisa#rupee"
tags = tags.strip('#')
print(tags.split('#'))

['money', 'finance', 'trade', 'paisa', 'rupee']

In [ ]:
#join method

l = ['Raju', 'is', 'a', 'good', 'boy']
print(str(l)+"yes he is")

sent = " ".join(l)
print(sent+" ,yes he is.")

['Raju', 'is', 'a', 'good', 'boy']yes he is
Raju is a good boy ,yes he is.

In [ ]:
#find method
a = "amazing"
# a.find('zing')
a.find('a',1)

2

In [ ]:
'z' in a

True

In [ ]:
#list

list1 = [1,2.3,'hello', True]
print(list1[3])

True

In [ ]:
type(list1)

list

In [ ]:
type(list1[2])

str

In [ ]:
for i in list1:
  print(i)

1
2.3
hello
True

In [ ]:
l2=list(range(4,50,5))
l2

[4, 9, 14, 19, 24, 29, 34, 39, 44, 49]

In [ ]:
str1 = "good morning"
print(id(str1))
str2 = "good evening"
print(id(str2))

139834065288944
139834065288816

In [ ]:
#list slicing

l3 = [12,13,14,15,16,17,18,19]
print(l3[7:3:-1])
print(l3[::-1])
print(l3[5:2:-1])

[19, 18, 17, 16]
[19, 18, 17, 16, 15, 14, 13, 12]
[17, 16, 15]

In [ ]:
#inser, append, extend, pop, remove, del
str2 = [12,13,15,16,17,18,19]
#insert
str2.insert(2,14)
print(str2)
#append
str2.append('numbers')
print(str2)
#extend
str2.extend('89')
print(str2)
#pop
str2.pop(3)
print(str2)
#remove
str2.remove(16)
print(str2)
#del
del str2[2:5]
print(str2)

[12, 13, 14, 15, 16, 17, 18, 19]
[12, 13, 14, 15, 16, 17, 18, 19, 'numbers']
[12, 13, 14, 15, 16, 17, 18, 19, 'numbers', '8', '9']
[12, 13, 14, 16, 17, 18, 19, 'numbers', '8', '9']
[12, 13, 14, 17, 18, 19, 'numbers', '8', '9']
[12, 13, 19, 'numbers', '8', '9']

In [ ]:
#copy
str3 = str2.copy()
print(str3)

[12, 13, 19, 'numbers', 'n', 'u', 'm', 'b', 'e', 'r', 's']

In [ ]:
#remove special characters
str2='sdjhf#$#$@#$sdf@#$#%@'
schar = ['#','$','@','%','!','|','+','<','>','=','^','(',')','-','[',']','{','}','.',';',':',',','<','>','.','/','?','^','&','*','_','~']
for i in schar:
  str2 = str2.replace(i,'')

print(str2)

sdjhfsdf

In [ ]:
string = "sdjhf#$#$@#$sdf@#$#@"

new = ''.join(char for char in string if char.isalnum())
print(new)

sdjhfsdf

In [ ]:
'''Assume you have 5 strings as given below
find out the mean of X-DSPAM-Confidence and
Y-DSPAM-Confidence
' X-DSPAM-Confidence:0.8475 '
' X-DSPAM-Confidence:0.765 '
' X-DSPAM-Confidence:0.7065 '
'Y-DSPAM-Confidence:0.9985 '
'Y-DSPAM-Confidence:0.6585 '
'''
  
Data = ['X-DSPAM-Confidence:0.8475','X-DSPAM-Confidence:0.765',
'X-DSPAM-Confidence:0.7065','Y-DSPAM-Confidence:0.9985',
'Y-DSPAM-Confidence:0.6585']
x = list()
y = list()
for n in Data:
  if(n.startswith('X-DSPAM-Confidence:')):
    x.append(n[19:])
  else:
    y.append(n[19:])
sumx = 0
sumy = 0
for i in x:
  sumx += float(i)
for j in x:
  sumy += float(j)
print("mean of X-DSPAM-Confidence is: ",  sumx/len(x))
print("mean of Y-DSPAM-Confidence is: ",  sumy/len(y))

mean of X-DSPAM-Confidence is:  0.773
mean of Y-DSPAM-Confidence is:  1.1595